.cover-Image-overlay {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    justify-items: center;
    overflow: clip;
}
.cover-Image-title {
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.493);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}
